# --- LaTeX auxiliary files ---
*.aux
*.log
*.toc
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.nav
*.snm
*.vrb
*.bbl
*.blg
*.bcf
*.run.xml

# --- xelatex intermediate files ---
*.xdv

# --- latexmk ---
*.dvi
*.ps

# --- Temp files ---
*~
*.tmp
*.bak
*.backup
*.sav

# --- VS Code temporary files ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# --- macOS junk ---
.DS_Store

# --- Windows junk ---
Thumbs.db
